.content-layout {
  padding: 50px 70px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: 1700px;

  &:first-child {
    padding-bottom: 0;
    margin-bottom: 50px;
  }

  &:last-child {
    padding-top: 0;
    margin-top: 50px;
  }
}
