.footer {
  width: 100%;
  height: 250px;
  max-height: 100%;
  background-color: $blue;
  padding: 25px;

  .cont-img {
    flex-grow: 1;
  }

  .footer-title,
  .footer-copyright {
    color: $white;
  }

  .footer-title {
    text-align: center;
    text-transform: uppercase;
    font-size: $text-big;
    margin-bottom: 15px;
  }

  .footer-logo {
    width: 100%;
    max-width: 400px;
  }

  .footer-copyright {
    font-size: $text-small;
    align-self: flex-end;
  }
}
