.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: $nav-height;
  padding: 0 30px;
  background-color: $white;
  z-index: 2;
  box-shadow: 0 5px 10px $grey;

  .navbar-logo {
    height: $nav-logo-height;
  }

  .navbar-subtitle {
    font-size: $text-big;
  }
}

@media screen and (max-width: 1024px) {
  .navbar {

    .navbar-subtitle {
      display: none;
    }
  }
}
