.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.fd-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.as-end {
  align-self: flex-end;
}

.d-grid {
  display: grid;
}
