.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.fd-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.align-center {
  align-items: center;
}

.nav-height {
  height: 70px;
}

.nav-logo-height {
  height: 30px;
}

.tech-logo-size {
  height: 100px;
}

.text-big {
  height: 24px;
}

.text-medium {
  height: 16px;
}

.text-small {
  height: 12px;
}
