.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

@mixin d-inline-flex {
  display: inline-flex;
}

.nav-height {
  height: 70px;
}

.nav-logo-height {
  height: 30px;
}

.tech-logo-size {
  height: 100px;
}

.text-big {
  height: 24px;
}

.text-medium {
  height: 16px;
}

.text-small {
  height: 12px;
}
