.cont-tech {
  grid-template-areas: 'first-tech . .''first-tech . .';
  box-sizing: border-box;
  padding: 0 70px;

  .tech-card {
    max-width: 300px;
    width: 100%;
    max-height: 100%;
    min-height: 350px;
    height: auto;
    padding: 0 25px;

    &:first-of-type {
      grid-area: first-tech;
    }

    &:nth-of-type(even) {
      border-left: 2px solid $green;
    }
  }

  .tech-img,
  .tech-desc {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
  }

  .tech-img {
    padding: 15px 0 0;

    img {
      width: 100%;
      height: 100%;
      max-width: 110px;
      max-height: 110px;
    }

    .tech-desc-img {
      width: 100%;
      text-align: center;

      &:last-child {
        font-weight: 700;
        font-family: 'Roboto-bold', sans-serif;
      }
    }
  }

  .tech-desc {
    padding: 5px 15px;

    .txt-desc {
      text-align: center;
      line-height: 25px;
      font-size: $text-medium;
    }
  }
}

@media screen and (max-width: 1024px) {
  .cont-tech {
    grid-template-areas: "first-tech";
    grid-gap: 10px;

    .tech-card {
      max-width: 250px;
      padding: 0;
      border-bottom: 2px solid $green;

      &:first-of-type {
        grid-area: initial;
      }
      
      &:last-of-type{
        border-bottom: none;
      }

      &:nth-of-type(even) {
        border-left: none;
      }
    }
  }
}
