.title-layout {
  width: 100%;
  max-width: 250px;

  &::before {
    content: '';
    display: inline-flex;
    width: $title-decoration-width;
    height: $title-decoration-height;
    background: url('assets/triangle.svg') center center no-repeat;
    background-size: contain;
    position: relative;
    left: 8%;
  }

  .title-text{
    z-index: 1;
    font-size: $text-big;
  }
}
