@import 'variables/colors';

.profile {
  align-items: center;
  display: flex;
  height: 90%;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
}

.container-form {
  border-radius: 5px;
  box-shadow: 0 0 6px 0 $dusty-gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  padding: 50px;
  width: 100%;
}
