@import 'variables/colors';

.custom-input-container {
  height: 78px;
  margin-bottom: 15px;
  position: relative;

  .custom-input {
    background-color: $concrete;
    border-bottom: 3px solid $blue_indigo;
    font-size: 14px;
    min-width: 355px;
    padding: 15px;
    width: 100%;
  }

  &.valid {
    .custom-input {
      border-color: $apple;
    }
  }

  &.invalid {
    .custom-input {
      border-color: $red_ribbon;
    }
  }

  .error-text {
    background-color: $red_ribbon;
    color: $white;
    margin-top: 10px;
    position: relative;

    &::before {
      border-color: transparent transparent $red_ribbon transparent;
      border-style: solid;
      border-width: 0 8px 8px 7px;
      content: '';
      height: 0;
      left: 20px;
      position: absolute;
      top: -8px;
      width: 0;
    }
  }
}
