$white: #FFF;
$black: #000;
$dusty-gray: #999;
$purple_amethyst: #9053C7;
$blue_indigo: #4158D0;
$gray_dove: #666;
$gray_mercury: #E6E6E6;
$mine_shaft: #333;
$apple: #57B846;
$red_ribbon: #EB0F2E;
$concrete: #F2F2F2;
