$apple: #57B846;
$black: #000;
$blue_indigo: #4158D0;
$concrete: #F2F2F2;
$dusty_gray: #999;
$gallery: #EEE;
$gray_dove: #666;
$gray_mercury: #E6E6E6;
$mine_shaft: #333;
$purple_amethyst: #9053C7;
$red_ribbon: #EB0F2E;
$white: #FFF;
