$apple: #57B846;
$black: #000;
$black-transparent: rgba(0, 0, 0, 0.29);
$blue-indigo: #4158D0;
$concrete: #F2F2F2;
$dusty-gray: #999;
$gallery: #EEE;
$gray-dove: #666;
$gray-mercury: #E6E6E6;
$mine-shaft: #333;
$purple-amethyst: #9053C7;
$rebeccapurple: #639;
$red-ribbon: #EB0F2E;
$transparent: transparent;
$white: #FFF;
