@import 'variables/colors';

.login-page {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.container-form {
  background: $white;
  box-shadow: 0 0 8px 0 $dusty-gray;
  max-width: 450px;
  padding: 45px;
}

.form-login {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-login {
  margin-bottom: 16px;
  width: 80%;
}

.btn-login {
  background: $blue-indigo;
  color: $white;
  font-size: 14px;
  padding: 15px;
  text-transform: uppercase;
  transition: all 0.3 ease;
  width: 100%;

  &:hover,
  &:active,
  &:focus {
    background-color: $apple;
  }
}

.message-error {
  color: $red-ribbon;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}
