@import 'variables/colors';
@import 'reusable/flexbox';

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  composes: d-flex j-center a-center;
  height: 100vh;
  width: 100%;
}

.form {
  background: $white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  max-width: 450px;
  padding: 45px;
  position: relative;
  text-align: center;
  z-index: 1;

  .img-login {
    margin-bottom: 16px;
    width: 80%;
  }

  button {
    background: $blue_indigo;
    border: 0;
    color: $white;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    outline: 0;
    padding: 15px;
    text-transform: uppercase;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    width: 100%;

    &:hover,
    &:active,
    &:focus {
      background: $purple_amethyst;
    }
  }
}

@keyframes grey-pulse {
  0% {
    border-color: gray;
  }

  50% {
    border-color: #EEE;
  }

  100% {
    border-color: gray;
  }
}
