.game {
  align-items: center;
  display: flex;
  height: 90%;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
}

.game-info {
  margin-left: 20px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 300px;
}
