@import './settings/equalizer';
@import './variables/colors';
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: $purple-amethyst;
  background: linear-gradient(-135deg, $purple-amethyst, $blue-indigo);
  font-family: 'Roboto', sans-serif;
}
