@import './settings/equalizer';
@import './variables/colors';
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: $purple_amethyst;
  background: linear-gradient(-135deg, $purple_amethyst, $blue_indigo);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}